.back {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent content overflow */
  margin: 0; /* Remove default margin */
  padding: 0; 
}
.login-container {
  width: 30%;
  min-height: 40%;
  align-self: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #272727;
}
.website-logo {
  align-self: center;
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputel-label {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-bottom: 6px;
}
.inputel {
  /* height: 36px;
  border: 1px solid #f8f8f8;
  color: white;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
  margin: 0 auto;
  background-color: transparent;
  width: 100%; /* Adjust to the parent's width */
  box-sizing: border-box; 
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  max-width: 100%;
  align-self: center;
}
.submit-btn {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f8f8f8;
  background-color: #4f46e5;
  font-size: 14px;
  margin-top: 30px;
  width: 50%;
  align-self: center;
  border-radius: 5px;
}
.errmsg {
  color: #ff0b37;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
